/* COLOR PALLET */
/* 
PRIMARY COLOR PALLET
Dusty Rose: #AE8781
Pewter: #8E8A92
Cream: #D6CEC0
Beige: #D6C099
 */

/* 
SECONDARY COLOR PALLET
Burgundy: #7F0000
Scarlet: #B32800
Tangerine: #E9A200
Gold: #FBDD00
 */

.ingredient_search {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  margin-top: 4rem;
}

.search-results {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #D6C099;
  min-width: 80%;
  margin-left: 2rem;
  border-radius: 0 0 1.5rem 1.5rem;
}
.search-results ul {
  list-style-type: none;
  padding: 1.5rem 0;
  width: 100%;
}
.search-result p {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  transition: all 0.2s;
  padding: 0 0.5rem;
}
.search-result span {
  float: right;
}
.search-result p:hover {
  transform: scale(1.05);
  background: #E9A200;
}
.search-result {
  display: flex;
  justify-content: space-between;
}

.search-result {
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.search-result .material-icons {
  cursor: pointer;
}

.ingredient_search h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 2.95rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  text-shadow: 0 0 1.5rem #7D7D7D;
}
.ingredient_search form {
  display: flex;
  justify-content: center;
  width: 100%;
}
#search-query {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  width: 80%;
  margin-right: 0.5rem;
  padding: 0 1rem;
  border: none;
}
#search-btn {
  padding: 0 2rem;
  background: #D6C099;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #FFFFFF;
}