*, body, html { margin: 0; padding: 0; box-sizing: border-box; }

html {
  font-size: 10px;
}

body {
  background: #7F0000;
}

input {
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
}
button {
  padding: 0.75rem 2rem;
  background: #D6C099;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #FFFFFF;
}

/* COLOR PALLET */
/* 
PRIMARY COLOR PALLET
Dusty Rose: #AE8781
Pewter: #8E8A92
Cream: #D6CEC0
Beige: #D6C099
 */

 /* 
SECONDARY COLOR PALLET
Burgundy: #7F0000
Scarlet: #B32800
Tangerine: #E9A200
Gold: #FBDD00
 */