.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.recipe_search {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 50%;
  color: #FFFFFF;
}